<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="C:\Users\muffi\Documents\Big Package\web" path="404.htmt" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
